@charset "UTF-8";
/* CSS Document */
/* Reset  -------------------------------------------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, td, video, tt, u, ul,
a{cursor: pointer;}
var { background: transparent; border: 0 none; font-size: 100%; margin: 0; padding: 0; outline: 0; }
ol, ul {list-style: none;}
table, table td { padding:0;border:none;border-collapse:collapse;}
img {vertical-align:top; }
/* Nuevos Tags -------------------------------------------------------- */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: none; }
mark, rp, rt, ruby, summary, time { display: inline; }
/* Propiedades Generales -------------------------------------------------------- */
* { margin:0; padding:0; border:0; }
* a {cursor: pointer; }
body { background:#fff; color:#000; font-family: 'heroregular', Verdana, Geneva, sans-serif; font-size:1em; width:100%; }
html, body {height:100%; }
a, object { outline:0; }
img {max-height:100%; }
@font-face {
font-family: 'heroregular';
src: url('../fonts/hero-webfont.eot');
src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/hero-webfont.woff2') format('woff2')	,
url('../fonts/hero-webfont.woff') format('woff'),
url('../fonts/hero-webfont.ttf') format('truetype'),
url('../fonts/hero-webfont.svg#heroregular') format('svg');
font-weight: normal;
font-style: normal;}
@font-face {
font-family: 'hero_lightlight';
src: url('../fonts/herolight-webfont.eot');
src: url('../fonts/herolight-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/herolight-webfont.woff2') format('woff2'),
url('../fonts/herolight-webfont.woff') format('woff'),
url('../fonts/herolight-webfont.ttf') format('truetype'),
url('../fonts/herolight-webfont.svg#hero_lightlight') format('svg');
font-weight: normal;
font-style: normal;}
/*----- txt, links, lines, titles -----*/
a {color:#333; outline:none; text-decoration: underline; }
a:hover {text-decoration:underline;}
a span {display:none; }
h1 {font-size:34px; }
h2 {font-size:30px; }
h3 {font-size:24px;}
h4 {font-size:21px; }
h5 {font-size:18px; }
h1 span, h2 span, h3 span, h4 span, h5 span {display:none;}
.centrar {position: relative; top: 10%; }
.mod_blanco_1 a.btn_negro.left {width: 135px;}
.derecha {float:right; }
section {max-width: 801px; height: 69vh; max-height: 675px; }
.block{display: block !important;}
.hide{display:none;}
div.Embed>header.EmbedHeader, div.Embed>footer.EmbedFooter {
    display: none !important;
}
/* Estructura Principal -------------------------------------------------------- */
.ganadorba{bottom: 70px !important;}
.ganadorbb{bottom: 70px !important; }
.bot-content{  position: absolute; width: 90%; max-width: 545px; height: 1px; left: 0; right: 0;   top: 120%; bottom: 0; margin: 0 auto;} 
.container {left: 0; right: 0; top: 0; bottom: 0; margin: auto;  max-width: 801px; height:auto; font-size:.8125em; display:block; position:relative; }
.mod_verde { padding-bottom:10px; background: url(../images/bckg_imgverde.jpg) no-repeat top center ; background-size: 100% 100%; width:100%; height: 508px; display:block; position: relative;  overflow: hidden;}
.mod_amarillo{ padding-bottom:10px; background: url(../images/bckg_imgamarilla.jpg) no-repeat top center ; background-size: 100% 100%; width:100%; height: 500px; display:block; position: relative;  }
.mod_blanco_1 {padding-bottom: 10px; background: url(../images/bckg_imgblanca_1.jpg) no-repeat top center; background-size: 100% 100%; width: 100%; height: 508px; display: block; position: relative; overflow: hidden; }
section.mod_blanco_1.bg_a_2 {background: url(../images/bckg_imgamarilla_2.jpg) no-repeat top center; }
section.mod_blanco_1.bg_b_2 {background: url(../images/bckg_imgblanca_2.jpg) no-repeat top center; background-size: 100% 100%;}
.preload {display:none; width: 140px; height: 135px; background-image: url('../images/ajaxSpinner.gif'); background-size: contain; background-repeat: no-repeat; position: absolute; z-index: 1001; left: 0; right: 0; top: 400px; bottom: 0; margin: 0 auto; }
.tooltip{margin:8px; padding:8px; border:1px solid blue; background-color:yellow; position: absolute; z-index: 2; }
.overflow-y{height: 325px; width: 65%;  overflow-y : scroll;padding: 10px 0px 0px 0px;margin: 0px auto 45px;font-size: 1em;}
section.mod_blanco_1.bg_a_2 p.cant_voto, p.text_voto{font-size: 1.5em; position: relative; left: 14%; top: 10px; margin-left: 5px; text-transform: uppercase; color: black; }
section.mod_blanco_1.bg_a_2 a.btn_negro.right.bot.less{position: absolute; width: 160px; left: 0; right: 0; top: 735px; bottom: 0; margin: 0 auto; margin-top: 0; margin-bottom: 1%; }
section.mod_blanco_1.bg_a_2 p.text_bot{top: 713px; bottom: 0; left: 0; right: 0; margin: 0 auto; position: absolute; font-weight: bolder;}
div.od_ganador {position: relative; width: 75%; height: 515px; top: 0; right: 0; bottom: 0; left: 0; margin: 0 auto; }
p.txttopmtop {position: relative; top: 80px; text-align: center; text-transform: uppercase; font-size: 1.1em; font-weight: 600; }
p.txttopmmt {position: relative; top: 81px; right: 0; bottom: 0; left: 0; margin: 0 auto; text-align: center; text-transform: uppercase; font-weight: 600; }
p.txttopmm {position: relative; text-align: center; text-transform: uppercase; top: 95px; font-size: 1.4em; font-weight: bolder; }
p.txttopmmb {position: relative; top: 95px; font-size: 1.4em; text-transform: uppercase; text-align: center; font-weight: 600; }
img.rollo {position: absolute; top: 210px; left: 0; right: 0; margin: 0 auto; width: 145px; height: auto; }
p.txttopmbt {position: relative; font-size: 1.2em; top: 300px; left: 0; right: 0; bottom: 0; margin: 0 auto; text-align: center; text-transform: uppercase; color: #ff00a8; font-weight: 600; }
p.txttopmbb {position: relative; top: 315px; text-align: center; text-transform: uppercase; font-size: 1.3em; font-weight: 600; }
div.od_ganador a.btn_negro.right {width: 110px;}
div.mod_ganador {position: relative; width: 95%; height: 500px; top: 50px;margin: 0 auto; }
p.txtup.txtmiddle {position: relative; text-align: center; top: 100px; }
p.wintxttop {position: relative;width: 100%; height: auto; font-size: 1.6em; text-align: center; text-transform: uppercase; margin: 0 auto; }
p.wintttopm {position: relative;width: 65%;   height: 16px;   font-size: 1.8em;   text-align: center;   margin: 0 auto; margin-bottom: 1.5%;margin-top: 1%;}
span.pink {color: #f70aa6; font-weight: 500;}
p.textbot {position: relative; width: 100%; text-align: center;margin: 0 auto; color: #f70aa6; font-size: 2em; }
video#player1 {position: relative;margin: 0 auto; display: block; width: 100%;max-width: 480px; max-height: 280px; margin-top: 1%;margin-bottom: 1%;}
p#votos {position: relative; width: 100%; text-align: center;margin: 0 auto; font-size: 2em; }
/* HEADER -------------------------------------------------------- */
header { border-bottom:8px solid #fff; width:100%; height:auto; display:block; position:relative; z-index:200; } 
header img.topefondo {width:100%; height: auto; display:block; position:relative; }
header img.logotema {width:295px; height: auto; display:block; position: absolute; left:34%; top:5%; z-index:100;}
header p { font-size:1.125em; color:#fff; text-align:center; width:100%; height: 20px; display: block; position: absolute; bottom:3%; left:0; z-index:110; }
.fb_iframe_widget {position: absolute !important; top: 85%; right: 25%; z-index: 1000; }
/* FOOTER -------------------------------------------------------- */
footer { background:#fff; color:#ccc; font-size:0.75em; width:100%; height:50px; display:block; position: relative; z-index: 1000; margin: 0px auto 0; position: relative;}
footer { background:#fff; color:#ccc; font-size:0.75em; width:100%; height:50px; display:block; z-index: 1000; margin: 0px auto 0; position: relative;}
footer img.logo { margin: 0 10px;  width:176px; height: auto; display: block; float:left; position: relative; top:8px;}
footer p { width:70%; height: auto; display:block; float:right; position: relative; top:10px; }
footer p a {color:#666; text-decoration: underline; }
/* MENU -------------------------------------------------------- */
.mod_menu {margin:0 auto; width: 100%; max-width: 800px;right: 0;left: 0;height: 40px; display:block; position: absolute; z-index: 1001; cursor: pointer;}
a.btn_menu { margin:0 10px; background: url(../images/pic_menu.png) no-repeat; width:37px; height: 37px; display:block; position: relative; float: left; /* transform: rotate(90deg); */ display: none;}
nav.menu { width: 95%; height: auto; display:block; position:relative; list-style: none; float:right; top:10px; }
nav.menu li { text-align: center; text-transform: uppercase; width: 25%; height: auto; display:inline; float:left; }
nav.menu li a { text-decoration: none; font-size: 0.8em;}
nav.menu li a:hover {color:#666; }
nav.menu li.activo a {padding: 0px 5px; border-bottom: 2.5px solid black;  cursor:default; }
/* HOME -------------------------------------------------------- */
.mod_home {margin:0 auto; width: 75%; height: auto; display:block; position:relative; top: 125px; }
.mod_home p { color:#000; font-size:1.9em; line-height:1.625em; width:100%; height: auto; display:block; position: relative; }
.mod_home p.txthomebg {font-size:2.375em; text-transform: uppercase; }
.mod_home p.txthomebg2 {font-size: 3.9em; text-transform: uppercase; font-weight: 500; text-align: center; }
.mod_home p.txthomepq {font-size:1.25em; text-transform: uppercase; }
.mod_home p.txthometab { padding-left:35px; }
.mod_home p.txthometab2 { position: relative; left: 5%; font-size: 1.7em; text-transform: uppercase;}
.mod_home p.txtcentrado {text-align:center;}
.mod_home p span, .mod_comosalto p span, .mod_comosalto li span, .mod_darsalto p span {color:#8536f0;}
.mod_comosalto a.btn_negro {position: relative; top: 65px; left: 0; right: 0; bottom: 0; margin: 0 auto;text-decoration: none;}
.mod_amarillo .mod_comosalto, .mod_amarillo .mod_darsalto {position: absolute; top: 4px; }
.mod_amarillo a#enviar {position: relative; top: 0; left: 0; right: 0; bottom: 0; margin: auto; /* margin-top: 2%; */width: 92%;text-decoration: none;}
p.txtpq {top: -10px !important; }
p.txthometop.green {position: relative; top: 20px; font-size: 2em; text-transform: uppercase; }
span.r {position: absolute; background-image: url(../images/r.png); background-repeat: no-repeat; background-size: contain; width: 10px; height: 14px; top: 5px; }
p.txthomemiddle {text-transform: uppercase; position: relative; bottom: 25px; left: 340px; width: 265px; }
/*a.btn_negro { padding: 8px 0px; background:#000; color: #FFFFFF; text-align: center; text-transform: uppercase; font-size:1.5em; width:200px;  height: 20px; }*/
a.btn_negro {margin: 0 auto; padding: 8px 15px; background: #000; color: #fff; text-align: center; text-transform: uppercase; font-size: 1.5em; width: 200px; height: 20px; display: block; position: relative; }
a.btn_negro { padding: 8px 8px; background:#000; color: #FFFFFF; text-align: center; text-transform: uppercase; font-size:1.5em; width: 230px;  height: 20px; text-decoration: none;}
a.btn_negro:hover {background:#666; color:#fff; text-decoration: none; }
.mod_amarillo a.btn_negro.right, .mod_amarillo a.btn_negro.left {color: white; }
a.btn_negro.left {position: absolute; color: #22d26b; width: 115px; left: 0; top: 45vh; right: 40%; bottom: 0; margin: auto; }
a.btn_negro.right {position: absolute; color: #22d26b; width: 125px; left: 40%;top: 45vh; right: 0px;bottom: 0;margin: auto;}
div.btn-bot {position: relative; width: 200px; height: 100px; left: 0; right: 0; top: 64px; bottom: 0; margin: auto; }
div.btn-bot a.btn_negro {color: #01FF68;padding: 8px 0;}
div.btn-bot a.btn_negro {color: #01FF68;}
.mod_blanco_1 span.uno, .mod_blanco_1 span.dos, .mod_blanco_1 span.txtdos, .mod_blanco_1 span.txtuno {color: black !important; }
/* COMO SALTO -------------------------------------------------------- */
.mod_comosalto {margin:50px auto 20px; padding: 15px 0; border-top:5px solid #fff; border-bottom:5px solid #fff;  background: url(../images/bckg_infocomo.png) repeat; width:100%; height: auto; display:block; position:relative;   clear:left; }
.mod_comosalto p { margin:0 auto; padding-bottom:10px; font-size:1.25em; line-height:1.375em; text-align:center; width:90%; height: auto; display:block; position: relative; }
.mod_comosalto p.txtbg {padding-bottom:15px; font-size:2em; text-transform: uppercase; }
.mod_comosalto li { margin:0 auto; padding-bottom:5px; font-size:1.25em; line-height:1.375em;  width: 85%; height: auto;  position: relative; list-style-type: decimal; }
a.pay_hover {position: absolute; background-image: url(../images/velo_video.png); background-size: 100%; background-repeat: no-repeat; background-position-y: -25px;width: 150px; height: 150px; cursor: pointer; opacity: 0; }
a.pay_hover:hover{opacity: 1;}
/* DAR SALTO -------------------------------------------------------- */
.mod_darsalto {margin:50px auto 10px;  width: 100%; height: auto; display:block; position:relative;   }
.mod_darsalto p { padding-bottom: 0px; /* padding-top: 1px; */ font-size:1.25em; line-height:1.375em; text-align:center; width: 60%; height: auto; display:block; position: relative; left: 0; top: -15px; right: 0; bottom: 0; margin: 0 auto;}
.mod_darsalto p.txtbg {font-size:2em; text-transform: uppercase; }
.mod_darsalto p.txtpq {font-size: 1em;  }
.mod_darsalto p span{color:#8e47e6}
.salto {margin:0px auto;  width: 100%; height: auto; display:inline-block; position:relative; clear:both;  margin-bottom: 10px;}
div#found div.salto {height: 35vh;  margin-top: 2%; }
.saltomitad { width: 85%; min-height: 70px; height: auto;  position: relative;  left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
ul.saltofotos { margin:0 auto;  width:80%; height: auto; position: relative; list-style: none; }
ul.saltofotos li a { margin: 0 15px 0px 30px; /* background: #000; */ color:#f2ca00; font-size:78px; text-align:center; width: 68px; height: 68px; display: inline; float:left;  border-radius: 68px; }
ul.saltofotos li a, ul.saltofotos li a:hover {text-decoration: none;}
ul.saltofotos li img {width: 75px; height: 75px; display: block; border-radius: 45px;}
fieldset.saltodatos { margin:0 auto;  width: 90%; height: auto; display: block; position: relative; right: 15px;}
fieldset.saltodatos p { width:100%; height:30px; display:block;  }
fieldset.saltodatos p.txtgenero { margin-bottom:5px; background:#fff; color:#000; padding: 1% 3% 0; font-size: 1.25em; line-height:1.375em; font-family: 'hero_lightlight', Verdana, Geneva, sans-serif; text-align:left; width:100%; height:25px;  display:block; }
fieldset.saltodatos p label { margin-right:20px; display:inline; }
input.campotxt { margin:0; background:#fff; color:#000; padding: 2% 3%; font-size: 1.1em; font-family: 'hero_lightlight', Verdana, Geneva, sans-serif;  width:100%; height: 12px; display:block; }
input.campoerror { margin:0; background:#f4f4f4; /* color:#8536f0; */ /* border:1px solid #8536f0; */ padding:1% 3%; font-size:1em; font-family: 'hero_lightlight', Verdana, Geneva, sans-serif;  width:100%; height: 25px; display:block; }
a.btn_seguir { padding-top:10px; background: #262626; color:#f5d700; text-align:center; text-transform: uppercase; font-size:1.5em; width: 100%; height: 35px; display:block; position: relative; }
a.btn_seguir span { margin-left:-15px; width:30px; height: 30x;display:block; position: absolute; bottom:-15px; left:50%; }
a.btn_seguir:hover { background: #262626; color:#fff; text-decoration: none; }
ul.saltocategorias { margin:10px auto;  width:96%; height: auto; display: block; position: relative; list-style: none; }
ul.saltocategorias li { margin-bottom: 15px; width: 20%; height: auto; display: inline; float:left; }
ul.saltocategorias li p { text-align:center; }
ul.saltocategorias li div.item  { margin:0 auto 5px; color:#f2ca00; text-align:center; width: 85px; height: 85px; display: block;border-radius: 55px; position: relative; margin-bottom: 14px;}
ul.saltocategorias li div.item a {width:100px; height: 100px;  border-radius: 55px; display:block;  position: relative; z-index:100;  }
ul.saltocategorias li div.item img {width: 85px; height: 85px; display: block; border-radius: 100px; position: relative;}
ul.saltocategorias li div.item a:hover { width: 85px; height: 85px;  border-radius: 55px; display:block;  position: relative; z-index:100;  }
ul.saltocategorias li div.item a div.over, ul.saltocategorias li div.itemactivo a div.over { display:none; }
ul.saltocategorias li div.item a:hover div.over { padding-top:40px; background: url(../images/maxinfo.png) rgba(0, 0, 0, 0.5) no-repeat -9px 50px;  color:#f5d700; text-align:center;  font-size:1.5em; width: 80px; height: 40px; border-radius: 55px; display:block;  position: absolute; top: 0; left: 0; z-index:150; border: white solid;}
ul.saltocategorias li div.itemactivo a { margin:0 auto 5px; border: 2px solid #fff;  width:96px; height: 96px; display: block;border-radius: 55px; position: relative; z-index:100; }
ul.saltocategorias li div.itemactivo img { width:96px; height: 96px; display: block; border-radius: 55px; position: relative;}
ul.saltocategorias li div.itemactivo a:hover div.over { padding-top:40px; background: url(../images/maxinfo.png) rgba(0, 0, 0, 0.5) no-repeat 0px 65px;  color:#f5d700; text-align:center;  font-size:1.5em; width:100%; height: 56px; border-radius: 55px; display:block;  position: absolute; top: 1px; z-index:150; }
p.txttyc {text-align: justify; color: white; font-size: 1.2em; width: 95%; padding-top: 5px; }
div#tycv {padding-top: 55px; padding-bottom: 55px; height: auto;min-height: 385px;z-index: 1001;position: absolute; left: 0;right: 0;top: 10px;bottom: 0;margin: 0 auto; display:none;}
div#tycv a.btn_blanco {top: -25px; }
.velosalto.less {padding-top: 60px; padding-bottom: 50px; }
.less p.txterror {padding-bottom: 12px; }
.less p.txttyc {width: 67%; }
.velosalto.less a.btn_blanco {top: 15px;}
a.btn_blanco {top: -20px; }
.velosalto {padding-top: 120px; background: url(../images/bckg_velo.png) repeat; width: 100%; height: 80%; display: block; position: absolute; top: 0px; right: 0px; z-index: 700; }
.velosalto {padding-top: 120px; background: url(../images/bckg_velo.png) repeat; width: 97%; height: 50%; display: none; position: absolute;   z-index: 700; left: 0;right: 0;top: 0;bottom: 0;margin: auto;}
.velosalto.etapados  { background:url(../images/bckg_velo.png) repeat; width: 100%; height: 100%; position: absolute; margin: 0 auto; z-index: 1001; display: block;}
.velosalto p.txterror { margin:0 auto; color:#f5d700; font-size:1.625em; text-align: center; text-transform: uppercase; width:80%; height: auto; display:block; position:relative;  margin-bottom: 10px;}
.velosalto p.txterrorpq { color:#f5d700; font-size:1.125em; text-align: center; text-transform: uppercase;}
.velosalto p.txterror span, .velosalto p.txterrorpq span { color:#fff; }
a.btn_cerrar { color:#fff; font-size:1.5em; text-align:center; width:20px; height: 20px; display:block; position:absolute; top:5px; right:5px; text-decoration: none; z-index: 2000; cursor: pointer;}
a.btn_cerrar:hover { color:#f5d700;  text-decoration: none; }
a.btn_blanco {margin: 30px auto 5px; padding:8px 15px; background:#fff; color:#000; text-align: center; text-transform: uppercase; font-size:1.375em; width:140px;  height: 20px; display:block; position: relative; text-decoration: none;}
a.btn_blanco.velo {width: 160px; }
a.btn_blanco:hover {background:#f5d700; color:#000; text-decoration: none; }
.velosalto .catdetalle { margin:0 auto;  width:80%; height: 100vh; display:block; position:relative ;}
.velosalto .catdetalle p { color:#fff; font-size: 1.2em; text-align: center; width:100%; height: auto; display:block; position:relative; top: -85px;}
.velosalto .catdetalle h5 { color:#f5d700; font-size:2.5em; font-family: 'hero_lightlight', Verdana, Geneva, sans-serif; text-align: left; text-transform: uppercase; width:100%; height: auto; display:block; position:relative;}
span.span-yellow {color: yellow; font-size: 1.4em; } 
.centrado {width: 190px; position: relative; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
img.laptop {margin-bottom: 15%;  }
p.txt-2 {margin-top: 6%; margin-bottom: 5%; }
a.btn_blanco.velo {margin-bottom: 50px; }
p.txt-2 {font-size: 1.6em; }
p.txt-3 {/* font-size: 0.9em; */ }
p.txt-3 span {font-size: 1em !important; }
img.copy_r {float: fixed; }
.salto_finalista .box_search {margin-top: 15px; }
a.btn_negro.right.bot.less {position: absolute;width: 161px; left: 0;right: 0;top: 100%;bottom: 0;margin: 0 auto;margin-top: 5%;margin-bottom: 1%;}
/* Vota por un Salto ---------------------------------------------------- */
.mod_votar_salto {width: 100%; height: auto; display: inline-block; position: static; clear: left; top: 0; bottom: 0; left: 0; right: 0; margin: auto; margin-top: 5%; }
.mod_votar_salto p {margin: 0 auto; padding-bottom: 5px; font-size: 1.25em; line-height: 1.375em; text-align: center; width: 90%; height: auto; display: block; position: relative; }
span#dia,&nbsp;span#hora,&nbsp;span#min {color: black !important; }
.container-1 input#search{width: 300px; height: 50px; border: none; font-size: 10pt; float: left; color: #262626; padding-left: 45px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-transition: background .55s ease; -moz-transition: background .55s ease; -ms-transition: background .55s ease; -o-transition: background .55s ease; transition: background .55s ease; }
.container-1{width: 300px; vertical-align: middle; white-space: nowrap; position: relative; }
.container-1 input#search{width: 225px; height: 32px; border: none; font-size: 10pt; float: left; color: #63717f; padding-left: 45px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.container-1 input#search::-webkit-input-placeholder {color: #65737e; }
.container-1 input#search:-moz-placeholder { /* Firefox 18- */ color: #65737e; }
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */ color: #65737e; }
.container-1 input#search:-ms-input-placeholder {color: #65737e; }
.mod_blanco_1 .container-1 input#search {background-color: #0072f2; }
.mod_blanco_1 .container-1 .icon  {color: white; }
.mod_blanco_1 .container-1 input#search{color :white; }
.mod_blanco_1 .container-1 input#search::-webkit-input-placeholder {color: white; }
.mod_blanco_1 .container-1 input#search:-moz-placeholder { /* Firefox 18- */ color: white; }
.mod_blanco_1 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */ color: white; }
.mod_blanco_1 .container-1 input#search:-ms-input-placeholder {color: white; }
.mod_blanco_1 p.txt_uno {font-size: 2em; margin-top: 20px;}
.voto_salto.flipa {float: left;max-width: 195px; margin-left: 5%;}
.voto_salto.flipa img.flipagram {position: relative;padding-top: 1px;width: 195px; height: 235px; z-index: 0;}
.voto_salto.flipa .voto_salto_bot {height: auto; width: 150px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 0;}
.txt_uno img {float: fixed; }
section.mod_blanco_1.finalista {height: 85%; }
span.nombre {font-size: 1.1em; z-index: 0;}
span.velo_video {background-image: url(../images/velo_video.png); background-repeat: no-repeat; background-size: 100% 100%;width: 195px;max-height: 249px;height: 100%;z-index: 100;position: absolute;background-position-y: 13px;margin: 0 auto;opacity: 0;}
span.velo_video:hover, span.velo_video:focus {opacity: 1; }
.mod_blanco_1 p.txt_dos {font-size: 1.4em; font-weight: 600;}
span.azul {color: #0072f2; }
p.txt_uno, p.txt_dos {text-transform: uppercase; }
.mod_blanco_1 span.linea {background-color: white; }
a.btn_negro.right.bot {top: 0; left: 0; right: 0;bottom: 0;margin: 0 auto;position: relative;}
.container-1 .icon{position: absolute; top: -14px; left: -5px; margin-left: 17px; margin-top: 17px; z-index: 1; color: #717477; font-size: 1.5em; }
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{outline:none; background: #ffffff; }
.mod_blanco_1 .container-1 input#search:hover, .mod_blanco_1 .container-1 input#search:focus, .mod_blanco_1 .container-1 input#search:active{outline:none; background:#65737e; }
.box_search {width: 225px; height: 40px;position: relative; left: 0; right: 0; top: 0; bottom: 0; margin: auto; margin-top: 10px;margin-bottom: 5px;}
span.linea {width: 1px; height: 20px; top: 30px; left: 0; right: 220px; bottom: 0; margin: auto; background-color: rgb(127, 129, 131); position: absolute; z-index: 100; }
.voto_salto { max-width: 150px; margin: 0 20px 0 0; width: 100%; float: left;}
.voto_salto img {width: 150px; }
.texto_salto {background-color: white; min-height: 60px; max-height: 85px;height: 100%;}
p.texto_dentro_salto {padding: 5px 5px 5px 5px; font-size: 0.7em; text-align: start;}
.user {position: relative;padding: 0px 5px 0px 0px; }
.user img {width: 32px;  height: 32px;padding: 0px 5px 0px 5px;position: relative;}
p.name {width: 100%;height: 12px;float: left; bottom: 28px; left: 32%; font-size: 75%; text-transform: capitalize; text-align: left;padding: 0;}
p.user_name {float: left; width: 100%;height: 10px;bottom: 26px; font-size: 0.7em; text-align: left;left: 30%; padding: 0px;}
img.img_instagram, img.img_facebook {width: 38px; position: relative; }
span.linea_voto {position: absolute; width: 0.9px; height: 32px; background-color: rgb(4, 7, 7);margin-top: 5px;}
a#instagram, a#facebook {width: 42px; height: 42px; position: relative; }
.redes {width: 95px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
a#facebook {left: 5%; }
a#instagram {right: 3%; }
span.cant_voto, span.text_voto {font-size: 1.5em; position: relative; left: 15%; top: 10px; margin-left: 5px; text-transform: uppercase; color: black;}
.voto_salto_bot {height: 115px; }
div.voto_salto_bot p {font-size: 1.7em; height: 35px; text-transform: uppercase; padding: 0; margin: 0; margin-bottom: 0px; top: 0; }
.contenido_velo {position: relative; bottom: 35%; }
.velosalto.votaste {height: 25vh; top: 0; }
a.btn_blanco.velo.cerrar {position: absolute; left: 0; right: 0; top: 130px; bottom: 0; width: 70px; padding: 8px 10px 4px 10px; font-size: 1.2em; }
a.btn_azul.izquierda.velo {position: absolute; left: 0; right: 0; top: 150px; bottom: 0; margin: auto; text-decoration: none;}
.contenido_velo p {font-size: 1.3em; color: white; text-transform: uppercase; text-align: center; }
.contenido_velo p:first-child {font-size: 2em; margin-bottom: 2%; }
span.span-yellow {color: yellow; font-size: 1.4em; }
.centrado {width: 160px; position: relative; left: 0; right: 0; top: -80px; bottom: 0; margin: auto; }
img.laptop {
    width: 95%;
}
p.txt-2 {margin-top: 5%; margin-bottom: 5%; }
a.btn_blanco.velo {top: -85px;margin-bottom: 50px; }
p.txt-2 {font-size: 1.6em; }
p.txt-3 {/* font-size: 0.8em; */ }
p.txt-3 span {font-size: 1em !important; }
p.txtpading-top {padding-top: 0px; }
/* MI PERFIL  -------------------------------------------------------- */
.mod_perfil {  width:96%; height: auto; display:inline-block; position:relative;  clear:left;   top: 0;bottom: 0;left: 0;right: 0;margin: auto;}
.mod_perfil p { margin:0 auto; padding-bottom:5px; font-size:1.25em; line-height:1.375em; text-align:center; width: 80%; height: auto; display:block; position: relative; margin-bottom: 5px;}
.mod_perfil p span{color:#8e47e6}
.misdatos, .misalto { width: 260px; height: auto; display:inline-block; position: relative; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.misdatos img { width:100px; height: 100px; border-radius: 55px; display: block; float:left; margin-right:10px; }
.misdatos p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float: right;  }
.misdatos p.nombre { font-size:1.75em;   float: right;}
.misalto img, .datos img { width: 100px; height: 100px; border-radius: 55px; float: left;}
.misalto p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float:left;  top: 15px; left: 10px;}
.misalto p.nombresalto { padding-top:12px; font-size:1.75em; text-transform: uppercase; }
.saltomitad.dos {width: 85%; }
.saltomitad.uno {padding-bottom: 15px;padding-left: 3%;width: 75%; height: 100%;margin-bottom: 2%;}
a.btn_azul { padding: 8px 0px; background:#3b5998; color:#fff; text-align: center; text-transform: uppercase; font-size:1.5em; width:200px;  height: 20px; }
a.btn_azul:hover {background:#666; color:#fff; text-decoration: none; }
.izquierda { display:block; float:left; position:relative; left:22%; margin-top: 12px; }
a.btn_volver { margin-bottom:20px; padding-top:20px; background: #262626; color:#f5d700; text-align:center; text-transform: uppercase; font-size:1.5em; width:100%; height: 35px; display:block; position: relative; }
a.btn_volver span { margin-left:-15px; width:30px; height: 30x;display:block; position: absolute; top:-15px; left:50%; }
a.btn_volver:hover { background: #262626; color:#fff; text-decoration: none; }
div#no_selec {display: none; }
div#selec, div#no_selec {margin-top: 5%;}
div#found {position: relative;width: 90%;max-height: 300px;margin: 0 auto;padding: 10px 0px 20px 15px;overflow-y: scroll;overflow-x: hidden;}
div.caja_scroll {width: 95%; height: 50vh; margin: 0 auto;}
div#no_found {margin-top: 20%;width: 100%;font-size: 0.9em;}
div#no_found p span {color: #8536f0; }
div#no_found p {text-transform: uppercase; text-align: center; }
section.mod_amarillo .mod_perfil {margin:20px auto 10px;  width:96%; height: auto; display:inline-block; position:relative;  clear:left;   }
section.mod_amarillo .mod_perfil p span{color:#8e47e6}
section.mod_amarillo .misdatos, .misalto { margin-bottom:10px; width: 100%; height: auto; display:inline-block; position: relative; clear:left; }
section.mod_amarillo .misdatos img { width:80px; height: 80px; border-radius: 55px; display: block; float:left; margin-right:10px; }
section.mod_amarillo .misdatos p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float:left;  }
section.mod_amarillo .mod_perfil {margin: 50px 0px 0px 10px; width: 95%; height: auto; display: inline-block; position: absolute; clear: left; /* top: 5vh; */ }
section.mod_amarillo .misalto img { width:80px; height: 80px; border-radius:45px; display: block; float:left; margin-right:10px; }
section.mod_amarillo .misalto p { padding-bottom: 0px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float:left;  top: 1px;}
section.mod_amarillo .misalto p.nombresalto { padding-top: 5px; font-size:1.75em; color:#8e47e6; text-transform: uppercase; }
section.mod_amarillo a.btn_azul { padding: 8px 8px; float: right; background:#3b5998; color:#fff; text-align: center; text-transform: uppercase; font-size:1.5em; width: 230px;  height: 20px; display:block; position: relative; top: 0; right: 0; left: 0; bottom: 0; margin: 10px 0 0 0;}
section.mod_amarillo a.btn_azul:hover {background:#666; color:#fff; text-decoration: none; }
section.mod_amarillo .izquierda { display:block; float: left; position:relative; left: 0; top: 0; bottom: 0; margin: 10px 0 0 0; text-decoration: none;}
section.mod_amarillo a.btn_volver { margin-bottom: 12px; padding-left: 20px; padding-top: 20px; background: #262626; color:#f5d700; text-align:center; text-transform: uppercase; font-size:1.5em; width:100%; height: 35px; display:block; position: relative; text-decoration: none;}
section.mod_amarillo a.btn_volver span { margin-left: -10px; width:30px; height: 30x;display:block; position: absolute; top:-15px; left:50%; }
section.mod_amarillo a.btn_volver:hover { background: #262626; color:#fff; text-decoration: none;}
.upload{display:none }
section.mod_verde span.cant_voto, section.mod_verde span.text_voto {color: #4d95bf; }
section.mod_blanco_1 p.txt-3.upper {text-transform: uppercase; font-size: 2.2em;}
.centrado.velo3 {width: 100%; top: 135px; }
p.txt-3.mid {font-size: 1.8em; margin-bottom: 5px; }
p.txt-3.midbot {font-size: 1.7em; }
p.txt-1.bot {margin-top: 60px; }
section.mod_verde .mod_perfil {  width: 95%; height: auto; display:inline-block; position:relative;   top: 0;bottom: 0;left: 0;right: 0;margin: auto;  margin-top: 5%;}
section.mod_verde .mod_perfil p { margin:0 auto; padding-bottom:5px; font-size:1.25em; line-height:1.375em; text-align:center; width:90%; height: auto; display:block; position: relative; }
section.mod_verde .mod_perfil p span{color:#8e47e6}
section.mod_verde .misdatos, .misalto { width: 275px; height: auto; display:inline-block; position: relative; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
section.mod_verde .misdatos img { width:100px; height: 100px; border-radius: 55px; display: block; float:left; margin-right:10px; }
section.mod_verde .misdatos p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float: right;  }
section.mod_verde .misdatos p.nombre { padding-top:12px; font-size:1.75em;   float: right;}
section.mod_verde .misalto img, .datos img { width: 100px; height: 100px; border-radius: 55px; float: left;}
section.mod_verde .misalto p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float:left;  top: 15px; left: 10px;}
section.mod_verde .misalto p.nombresalto { padding-top:12px; font-size:1.75em; text-transform: uppercase; }
section.mod_verde a.btn_azul { padding: 8px 0px; background:#3b5998; color:#fff; text-align: center; text-transform: uppercase; font-size:1.5em; width: 200px;  height: 20px; float: left; margin-left: 3%;}
section.mod_verde a.btn_azul:hover {background:#666; color:#fff; text-decoration: none; }
section.mod_verde .izquierda { display:block; float:left; position:relative; left:22%; margin-top: 12px; }
section.mod_verde a.btn_volver { margin-bottom:20px; padding-top:20px; background: #262626; color:#f5d700; text-align:center; text-transform: uppercase; font-size:1.5em; width:100%; height: 35px; display:block; position: relative; }
section.mod_verde a.btn_volver span { margin-left:-15px; width:30px; height: 30x;display:block; position: absolute; top:-15px; left:50%; }
section.mod_verde a.btn_volver:hover { background: #262626; color:#fff; text-decoration: none; }
section.mod_verde div#no_selec {display: none; }
section.mod_verde div#selec, div#no_selec {margin-top: 5%; }
section.mod_verde .salto{  margin: 10% 6% 6% 6%;   width: 95%; height: auto; display: inline-block; position: relative; clear: both; margin-bottom: 15px;}
section.mod_verde .misalto {left: 10%; }
section.mod_blanco_1.bg_b_2 a.btn_negro.right.bot.less {top: 705px; }
section.mod_blanco_1.bg_b_2 p.p-bot {top: 35px; }

.mod_home p.txthomebg2 {font-size: 3.7em; text-transform: uppercase; font-weight: 500; text-align: center; }
.mod_blanco_1 p.txthomemiddle {text-transform: uppercase; position: relative; top: 0; bottom: 0; left: 0; right: 0; width: 251px; margin: auto; }
.mod_blanco_1 .mod_home p.txthomebg2 {font-size: 2em; text-transform: uppercase; font-weight: 500; text-align: center; }
.mod_blanco_1 a.btn_negro {padding: 8px 0px 5px 0px; background: #000; color: #FFFFFF; text-align: center; text-transform: uppercase; font-size: 1.2em; width: 175px; height: 20px;   }
/*.mod_blanco_1 a.btn_negro.left {position: relative; color: #FFFFFF; width: 115px; left: 20%; top: 0; right: 0; bottom: 0; margin: auto; float: left;}
.mod_blanco_1 a.btn_negro.right {position: relative; color: #FFFFFF; width: 170px; left: 40%; top: 0;  bottom: 0; margin: auto; float: left;}*/
/* portrait tablet */
@media (max-width: 759px) and (orientation:portrait) {
/* Estructura Principal -------------------------------------------------------- */
.container {width:100%;  }
.mod_verde { background: url(../images/bckg_imgverde.jpg) no-repeat top right ; background-size: auto 100%; width:100%;}
.mod_amarillo { background: url(../images/bckg_imgamarilla.jpg) no-repeat top right ; background-size: auto 100%; width:100%; height: 100%; min-height: 585px;}
.mod_blanco_1 { background: url(../images/bckg_imgblanca_1.jpg) no-repeat top right ; background-size: auto 100%; width:100%; height: 85%; }
section.mod_blanco_1.bg_a_2 {background: url(../images/bckg_imgamarilla_2.jpg) no-repeat top center; background-size: auto 100%; width: 100%; height: 100%; min-height: 768px; }
/* HOME -------------------------------------------------------- */
.mod_home {top: 20vh; width: 75%;height: 350px;left: 0;right: 0;bottom: 0;margin: auto;}
.mod_home { width: 75%;height: 350px;left: 0;right: 0;bottom: 0;margin: auto;}
/* DAR SALTO -------------------------------------------------------- */
.mod_darsalto p.txtpq {font-size:1em;  }
.saltomitad { min-height: 100px;  }
.saltomitad { min-height: 100px; }
a.btn_seguir { margin:0 auto 20px;  width:80%; }
ul.saltocategorias {  width: 85%;   height: 100px; display: inline-block;   position: relative; list-style: none; clear:left;  top: 0;   right: 0;  bottom: 0;   left: 60px;  margin: 0;}
ul.saltocategorias li { margin-bottom: 0px; width: 33%; height: auto; display: inline; }
/* MI PERFIL  -------------------------------------------------------- */
.mod_perfil {display:block;  } 
}
/* phones and down */
@media (max-width: 600px) and (orientation: portrait) {
/* Estructura Principal -------------------------------------------------------- */
section.mod_amarillo div.mod_perfil a.btn_volver {padding-left: 0; }
.velosalto.less {padding-top: 65px; padding-bottom: 0; }
.less p.txttyc {width: 70%; }
.bot-content{width: 43%;min-width: 245px;top: 125%;}
.container {width:100%;  }
.mod_verde { background: url(../images/bckg_imgverde.jpg) no-repeat right;background-size: auto 100%; width:100%; height: 85%;}
.mod_amarillo { background: url(../images/bckg_imgamarilla.jpg) no-repeat right;background-size: auto 100%; width:100%; height: 768px;}
.mod_blanco_1 {background: url(../images/bckg_imgblanca_1.jpg) no-repeat top right; /* background-size: auto 100%; */ /* width: 100%; */ /* height: auto; */ background-size: auto 100%; width: 100%; height: 100%; min-height: 768px; }
.saltomitad.uno{margin-bottom: 15%; margin-left: 10%;width: 75%;}
/* HEADER -------------------------------------------------------- */
header img.logotema {width:40%; position: absolute; left:55%; top:5%; z-index:100;}
header p { font-size:1.125em; color:#fff; text-align:right; width:96%; height: 20px; display: block; position: absolute; bottom:5%; left:0; z-index:110; }
/* FOOTER -------------------------------------------------------- */
footer { width:100%; height:60px;   }
footer img.logo { width:25%; height: auto; top:10px;}
footer p {  width:70%;  font-size:10px; }
/* MverdeENU -------------------------------------------------------- */
.mod_menu {width:96%;  }
nav.menu { width: 100%;  }
/* HOME -------------------------------------------------------- */
.mod_home {top: 15vh; }
.mod_home p { width: 100%; margin: 0 auto; }
.mod_home p.txthomebg2 {font-size: 2.5em; width: 100%; }
.mod_home p.txthomemiddle {left: 175px; top: -20px; }
.mod_homea .btn_negro.left {right: 50%; } 
.mod_home p.txthometab2 {font-size: 1.2em; width: 100%; top: 30px;left: 0; }
.mod_blanco_1 .mod_home p.txthomemiddle {left: 0; top: 0px; }
.mod_blanco_1 .centrar {width: 175px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
/* DAR SALTO -------------------------------------------------------- */
.saltomitad { margin:0 auto; padding:0; width: 100%; min-height:150px; float:none; display:block;}
ul.saltofotos { margin:0 auto; width:90%; }
ul.saltofotos li {width:50%; float:left;  }
ul.saltofotos li a { margin: 10px auto 10px; width:100px; height: 90px; font-size:70px; border-radius: 55px; float:none; display:block;position: relative; }
ul.saltofotos li img {width:100px; height: 100px; display: block; border-radius: 55px;}
fieldset.saltodatos { margin-bottom:10px; width: 75%; left: -1%;}
fieldset.saltodatos p {  height:40px;  }
fieldset.saltodatos p.txtgenero { margin-bottom:5px; background:#fff; color:#000; padding:2% 3% 0; font-size:1.25em; line-height:1.375em; font-family: 'hero_lightlight', Verdana, Geneva, sans-serif; text-align:left; width:100%; height:30px;  display:block; }
input.campotxt {  height: 30px; display:block; }
input.campoerror {  height: 30px; display:block; }
/* MI PERFIL  -------------------------------------------------------- */
.misdatos, .misalto { width: 55%; height: 90px; display:block; position: relative;  }
.izquierda { display:block; float:none; position:relative; left:0px; margin:10px auto; }
a.btn_azul {margin:10px auto; }
}
/* Small phones  */

@media (min-width:320px) and (max-width:480px) and (orientation:portrait){
	.a{    position: absolute; bottom: 0; margin: 0 auto 0 auto;} 

	.velo_video{display: none;}
p.txttopmbt { top: 370px;  }
p.txttopmbb { top: 400px;  }
div.od_ganador a.btn_negro.right{margin-left: 35px;}
.mod_blanco_1 a.btn_negro.left{margin-right	: 40px}
.mod_blanco_1 a.btn_negro{ }
.mod_blanco_1.bg_a_2{ background-size: auto 100%; width: 100%; height: 100%; min-height: 768px;}
a.btn_negro.right.bot {top: 0; left: 0; right: 0; bottom: 0; margin: 0 auto; position: relative;
}
.voto_salto.flipa {  margin-left: 15%; }
.saltomitad.uno{width: 75%;}
/* Estructura Principal -------------------------------------------------------- */
.container {width:100%;  }
.mod_verde { background: url(../images/bckg_imgverde.jpg) no-repeat right; background-size: auto 100%; width:100%; height: 75vh; }
.mod_amarillo { background: url(../images/bckg_imgamarilla.jpg) no-repeat right; background-size: auto 100%; width:100%; height: 100%; min-height: 768px;}
.mod_blanco_1 { background-size: auto 100%; width: 100%; height: 100%; min-height: 768px; }
div#tycv{min-height: 456px;font-size: 0.8em;}
.overflow-y {width: 80%}
/* HEADER -------------------------------------------------------- */
header img.logotema {width:36%; position: absolute; left:55%; top:5%; z-index:100;}
header p { font-size:0.875em; text-align:right; width:98%; height: 20px; display: block; position: absolute; bottom: 3%; left:0; z-index:110; margin-left: -5px;}
p.phead {text-align: center; }
.fb_iframe_widget {top: 78%; right: 70px; }
/* FOOTER -------------------------------------------------------- */
footer { width:100%; height: 70px;  }
footer img.logo { margin: 0 auto; width:25%; height: auto;  float:none;  top:5px;}
footer p { margin: 0 auto; width:96%; text-align:center; font-size:8px;  float:none; }
/* MENU -------------------------------------------------------- */
.mod_menu {width:100%;   }
a.btn_menu { float: none; transform: none; right: 0; left: 0px; top: 0; bottom: 0; /* margin: auto; */ display: block;}
nav.menu { width: 100%; height: 165px; position:absolute; left: 0; right: 0; top: 32px; bottom: 0; margin: 0 auto; z-index:100;}
nav.menu li { background:#fff; color:#000; padding-top:15px; border-bottom:1px solid #ccc; text-align: center; text-transform: uppercase; width:100%; height: 25px; display:block; float:none; }
nav.menu li:hover { background:#ccc; color:#000; }
nav.menu li.activo  {padding:15px 0 0; background:#000; color:#fff; cursor:default; width:100%; height: 25px; display:block; }
/* HOME -------------------------------------------------------- */
.mod_home {top: 45px; width: 100%; }
.mod_home {position: absolute; width: 100%; height: 150px;top: 25vh;bottom: 0;left: 0;right: 0;margin: 0 auto;}
.mod_home p { width:100%; margin: 0 auto; text-align:center; }
.mod_home p { font-size:1.375em; line-height:1.5em;  }
.mod_home p.txthomebg {font-size:1.75em; text-transform: uppercase; }
.mod_home p.txthometab { padding-left:0; }
.mod_home p.txthomemiddle {left: 0px; top: -5px; font-size: 1.7em; font-weight: 500; }
.mod_home a.btn_negro.left {top: 300px; right: 0;}
.mod_home a.btn_negro.left {     left: 0; right: 0; margin: 0 auto 0 auto; }
.mod_home a.btn_negro.right {left: 0; top: 40vh; }
.mod_home p.txthometop.green {position: relative; top: 25px; font-size: 1.5em; text-transform: uppercase; }
.mod_home p.txthomebg2 {font-size: 1.9em; width: 100%; top: 10px; }
.mod_home p.txthometab2 span {position: absolute; top: -25px; font-size: 1.4em; left: 0; right: 0; color: black;}
.mod_blanco_1 .mod_home p.txthomebg2 {font-size: 1.5em; }
.mod_blanco_1 .mod_home p.txthomemiddle {top: 2%; }
/*.mod_blanco_1 a.btn_negro.right { left: 0;right: 0;top: 60px;bottom: 0;margin: auto; }*/
.mod_blanco_1 span.uno, .mod_blanco_1 span.dos {color: black !important; }
span.uno {clear: right; }
span.dos {position: relative; top: 25px; left: -12%; }
.mod_blanco_1 span.r {top: 25px; right: 35px; }
span.uno {position: relative; left: 32%; }
.mod_blanco_1 p.txthomebg2 {font-size: 1em; }
span.txtuno{}
span.txtdos{}
div.caja_scroll {width: 59%;}
/* COMO SALTO -------------------------------------------------------- */
.lia_white{	background-color: white;}
.mod_comosalto {margin: 45px auto 10px; padding: 25px 0px 0px 0px;  }
.mod_comosalto p { margin:0 auto; padding-bottom:5px; font-size:1.125em; line-height:1.375em; text-align:center; width:90%; height: auto; display:block; position: relative; }
.mod_comosalto p.txtbg {padding-bottom:5px; font-size:1.5em; text-transform: uppercase; }
.mod_comosalto li { margin:0 auto; padding-bottom:5px; font-size: 1.2em; line-height: 1.225em;  text-align: left; width: 85%; height: auto;  position: relative; list-style-type: decimal;}
/* DAR SALTO -------------------------------------------------------- */
.mod_darsalto {margin:20px auto 10px; padding:0;  }
.mod_darsalto p.txtbg { font-size:1.5em; margin-top: 20px;}
.mod_darsalto p { font-size:1.125em; width: 80%;}
.saltomitad { padding:0; width: 90%; min-height:150px; float:none; display:block;}
div#velo_embed{height: 520px; top: 45px; bottom: 0; z-index: 10001; padding-top: 0;}
.video_flipa {position: relative; top: 0; width: 365px; height: 410px; margin: 0 auto; }
div.salto div.saltomitad.verde {width: 85%; }
div.salto div.saltomitad {width: 80%; } 
ul.saltofotos { margin:0 auto; width:90%; }
ul.saltofotos li {width:50%; height: 85px;float:left;  }
ul.saltofotos li a { margin:0 auto 10px; width:100px; height: 90px; padding-top:10px; font-size:70px; border-radius: 55px; float:none; display:block;position: relative; }
ul.saltofotos li img {width: 78px; height: 78px; display: block; border-radius: 100px;}
fieldset.saltodatos { margin-bottom:10px; width: 95%; left: -4%;}
fieldset.saltodatos p {  height:40px;  }
fieldset.saltodatos p.txtgenero { margin-bottom:5px; background:#fff; color:#000; padding:2% 3% 0; font-size:1.25em; line-height:1.375em; font-family: 'hero_lightlight', Verdana, Geneva, sans-serif; text-align:left; width:100%; height:30px;  display:block; }
input.campotxt {  height: 30px; display:block; }
input.campoerror {  height: 30px; display:block; }

.velosalto  { width:100%; height: 60%;  }
.velosalto .catdetalle { width:90%; }
.velosalto .catdetalle p { color:#fff; font-size:1em; }
.velosalto .catdetalle p { color:#fff; font-size:1em; } 
.velosalto .catdetalle p.txt-3 { font-size: 0.8em; }
.velosalto .catdetalle h5 { color:#f5d700; font-size:2em; }
.velosalto.etapados {height: 100vh; }
.velosalto .catdetalle { top: 0;}
a.btn_blanco.velo {margin-bottom: 5%; }
ul.saltocategorias {  width: 100%;   height: 105px;  position: relative;    left: 0;   right: 0;   top: 0;  bottom: 0;  margin: 0 auto;  margin-top: -10px;}
ul.saltocategorias li { margin-bottom: 0px; width: 30%; height: auto; margin: 5px; float: left;}
ul.saltocategorias li p { font-size:1em; margin-top: 20px;}
ul.saltocategorias li div.item  { margin: 0px auto 5px; color:#f2ca00; text-align:center; width: 60px; height: 64px; display: block;border-radius: 45px; position: relative;}
ul.saltocategorias li div.item a {width: 60px; height: 80px;  border-radius: 45px; display:block;  position: relative; z-index:100;  }
ul.saltocategorias li div.item img {width: 64px; height: 64px; display: block; border-radius: 60px; position: relative;}
ul.saltocategorias li div.item a:hover { width:80px; height: 80px;  border-radius: 45px; display:block;  position: relative; z-index:100;  }
ul.saltocategorias li div.item a:hover div.over { padding-top:20px; font-size:1em; width:100%; height: 60px; border-radius: 45px; }
ul.saltocategorias li div.itemactivo a {  width:76px; height: 76px; border-radius: 45px; }
ul.saltocategorias li div.itemactivo img { width:76px; height: 76px; border-radius: 45px; }
ul.saltocategorias li div.itemactivo a:hover div.over { padding-top:20px; font-size:1em; width:100%; height: 56px; border-radius: 45px;  }
/* MI PERFIL  -------------------------------------------------------- */
a.btn_volver { font-size:1.125em; height:25px;  }
.mod_perfil p { font-size:1.125em; }
.misdatos, .misalto { margin: 5px auto; width:100%; height: 90px; display:block; position: relative;  margin-top: 40px;}
ul.saltofotos { width:100%; }
.izquierda { display:block; float:none; position:relative; left:0px; margin: 15px auto; }
a.btn_azul {margin:10px auto; }   
/* Velo Volaste --------------------*/
.contenido_velo {position: relative; bottom: 25%; }
.contenido_velo p {font-size: 0.9em; } 
a.btn_azul.izquierda.velo {position: relative; left: 25%; right: 0; top: 35px; bottom: 0; margin: auto; }
a.btn_blanco.velo.cerrar {position: relative; left: 0; right: 0; top: 60px; bottom: 0; width: 70px; font-size: 1.2em; padding-bottom: 10px; } .velosalto.votaste {height: 30vh; top: 20vh; }
}
@media (max-width: 360px) and (max-height: 640px) and (orientation: portrait){
	.less p.txttyc {width: 85%; }
	div#tycv{  min-height: 620px; }
	div.caja_scroll {width: 75%; }
	.voto_salto.flipa {  margin-left: 23%;     margin-top: 25px; }
	.fb_iframe_widget {top: 70%; right: 10px; }
	a.btn_azul{margin: 10px 23% 0 0; }
}
/*Landscape phone to portrait tablet */
@media (min-width:320px) and (max-width:600px) and (orientation:landscape) {
	header, footer, .mod_menu, section.mod_amarillo, section.mod_verde,section.mod_blanco_1, section.mod_blanco_1.bg_a_2, section.mod_blanco_1.bg_b_2 { display:none; }
	section.horizontal { background:#bc0f74; color:#fff; width:100%; height: 100%; display:block; overflow: hidden; position:relative;}
	img.samba { width:30%; height: auto; display: block; position:absolute; left:0; bottom: 0; }
	img.logotema  { width:50%; height: auto; display: block; position:absolute; right:5%;  top:5%; }
	section.horizontal p { font-size:1.375em; text-align: center; text-transform: uppercase; width:50%; height: auto; display:block; position: absolute; right:8%; bottom: 15%; }
	section.horizontal p span { font-size:1.5em; display:block; color:#fcee21; }
}
/* Landscape phone to portrait tablet */
/*@media (min-width:960px) and (max-width:1600px) and (orientation:landscape) {
header, footer, .mod_menu, section.mod_amarillo, section.mod_verde,section.mod_blanco_1, section.mod_blanco_1.bg_a_2, section.mod_blanco_1.bg_b_2 { display:none; }
section.horizontal { background:#bc0f74; color:#fff; width: 100%; height: 100%; display:block; overflow: hidden; top: 0; position:relative; max-width: 100%;}
img.samba { width:30%; height: auto; display:block; position:absolute; left:0; bottom: 0; }
img.logotema  { width:50%; height: auto; display:block; position:absolute; right:5%;  top:5%; }
section.horizontal p { font-size:1.375em; text-align: center; text-transform: uppercase; width:50%; height: auto; display:block; position: absolute; right:8%; bottom: 15%; }
section.horizontal p span { font-size:1.5em; display:block; color:#fcee21; }
}*/
/* Landscape phone to portrait tablet */
@media (min-width:800px) and (max-width:815px) {
section.horizontal {display:none;}
}
/****webkit scrollbar ****/
div#found::-webkit-scrollbar {
width: 5px;
height: 20px;
}
/* Track */
div#found::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
-webkit-border-radius: 10px;
border-radius: 10px;
}
/* Handle */
div#found::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(0,0,0,0.8); 
right: 100px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}
div#found::-webkit-scrollbar-thumb:window-inactive {
background: rgba(0,0,0,0.4); 
}
/* Scrollbar */ 
div.overflow-y::-webkit-scrollbar{width: 3px;}
div.overflow-y::-webkit-scrollbar-button:vertical:increment {background-color:rgb(114, 114, 114);} 
div.overflow-y::-webkit-scrollbar-button:vertical:increment:hover {background-color:rgb(114, 114, 114);} 
div.overflow-y::-webkit-scrollbar-thumb{background-color:rgb(0, 0, 0); border-radius: 0;}
div.overflow-y::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}
div.overflow-y::-webkit-scrollbar-track{background-color:rgb(2, 10, 15);}
div.overflow-y::-webkit-scrollbar-button:vertical:decrement {background-color:rgb(114, 114, 114);} 
div.overflow-y::-webkit-scrollbar-button:vertical:decrement:hover {background-color:rgb(0, 0, 0);} 
/* End Scrollbar */
/****moz scrollbar ****/