*{font-size: 14px;font-family: sans-serif;}
form.login {background:#F1F1F1;border: 1px solid #DDDDDD;margin: 0 auto;padding: 20px;width: 278px;position: absolute;left: 0;right: 0;top: 25%;/* bottom: 0; */margin: auto;}
form.login div {margin-bottom: 15px;overflow: hidden;}
form.login div label {display: block;float: left;line-height: 25px;}
form.login div input[type="text"], form.login div input[type="password"] {border: 1px solid #DCDCDC;float: right;padding: 4px;}
form.login div input[type="submit"] {background: none repeat scroll 0 0 #DEDEDE;border: 1px solid #C6C6C6;float: right;font-weight: bold;padding: 4px 20px;}
